.jumbotron {
	background-color: cyan;
	color: black;
	margin-top: 50px;

}

.card-hotel{
	flex: 1 200px;
	background-color: green;
	margin-top: 15px;
}

.btn{
	width: 100%;
	border-radius: 0px
}

footer{
	background-color: cyan;
	padding: 10px 10px 0 10px
	margin-bottom: 0px;
	margin-top: 20px;
}

.footer-addres-icon{
	padding-right: 5px;
}

.tab-content{
	padding-top: 10px;
}