@yellow: #F9FB63;
@cyan: #9CF8E5;
@green: #D1F89C;

.margenes(@top, @bottom){
	margin-top: @top;
	margin-bottom: @bottom;
}

.jumbotron {
	background-color: @cyan;
	color: black;
	.margenes(50px, 20px);

}

.card-hotel{
	flex: 1 200px;
	background-color: @green;
	.margenes(15px, 0px);
}

.btn{
	width: 100%;
	border-radius: 0px;
}

footer{
	background-color: @cyan;
	padding: 10px 10px 0 10px;
	.margenes(20px, 0px);
	
}

.footer-addres-icon{
	padding-right: 5px;
}

.tab-content{
	padding-top: 10px;
}