.jumbotron {
  background-color: #9CF8E5;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px; }

footer {
  background-color: #F9FB6;
  padding: 10px 10px 0 10px;
  margin-top: 25px;
  margin-bottom: 0px; }
  footer .card-hotel {
    flex: 1 200px;
    background-color: #D1F89C;
    margin-top: 15px;
    margin-bottom: 0px; }
  footer .btn {
    width: 100%;
    border-radius: 0px; }

.footer-addres-icon {
  padding-right: 5px; }

.tab-content {
  padding-top: 10px; }
