.jumbotron {
  background-color: #9CF8E5;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}
.card-hotel {
  flex: 1 200px;
  background-color: #D1F89C;
  margin-top: 15px;
  margin-bottom: 0px;
}
.btn {
  width: 100%;
  border-radius: 0px;
}
footer {
  background-color: #9CF8E5;
  padding: 10px 10px 0 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.footer-addres-icon {
  padding-right: 5px;
}
.tab-content {
  padding-top: 10px;
}
