$yellow: #F9FB6;
$cyan: #9CF8E5;
$green: #D1F89C;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $cyan;
	color: black;
	@include margenes(50px, 20px); 

}
footer{

.card-hotel{
	flex: 1 200px;
	background-color: $green;
	@include margenes(15px, 0px);
}

.btn{
	width: 100%;
	border-radius: 0px;
}

	background-color: $yellow;
	padding: 10px 10px 0 10px;
	@include margenes(25px, 0px);
}

.footer-addres-icon{
	padding-right: 5px;
}

.tab-content{
	padding-top: 10px;
}